<div class="card p-4 w-100 mx-auto shadow border-0 bg-light">
  <form class="row">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="auth.email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="auth.pass" class="form-control" id="exampleInputPassword1" name="pass" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="d-grid gap-2">
      <a class="btn btn-primary mb-2" (click)="SingIn()">Sing In</a>
      <a class="btn btn-outline-primary" routerLink="/signup">Sign Up</a>
    </div>    
  </form>
</div>