<form class="row">
    <div class="col-md-6 mb-3">
        <label for="UserName" class="form-label">First name</label>
        <input type="text" class="form-control" id="UserName" [(ngModel)]="user.name" name="UserName" required>
    </div>
    <div class="col-md-6 mb-3">
        <label for="UserLastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="UserLastName" [(ngModel)]="user.lastName" name="UserLastName" required>
    </div>
    <div class="col-md-6 mb-3">
        <label for="UserEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="UserEmail" [(ngModel)]="user.email" name="UserEmail" required>
    </div>
    <div class="col-md-6 mb-3">
        <label for="UserPass" class="form-label">Password</label>
        <input type="text" class="form-control" id="UserPass" [(ngModel)]="user.pass" name="UserPass" required>
    </div>
    <div class="col-md-12 mb-3">
      <label for="validationCustom03" class="form-label">Address Street</label>
      <input type="text" class="form-control" id="validationCustom03" [(ngModel)]="user.addressStreet" required>
    </div>
    <div class="col-md-6 mb-3">
        <label for="UserAddressCountry" class="form-label">Address Country</label>
        <select class="form-select" id="UserAddressCountry" [(ngModel)]="user.addressCountry" name="UserAddressCountry" required>
          <option selected disabled value="">Choose One...</option>
          <option>Pais 1</option>
          <option>Pais 2</option>
          <option>Pais 3</option>
        </select>
      </div>
    <div class="col-md-6 mb-3">
      <label for="UserAddressCity" class="form-label">Address City</label>
      <select class="form-select" id="UserAddressCity" [(ngModel)]="user.addressCity" name="UserAddressCity" required>
        <option selected disabled value="">Choose One...</option>
        <option>Ciudad 1</option>
        <option>Ciudad 2</option>
        <option>Ciudad 3</option>
      </select>
    </div>
    <div class="col-12 mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12 mb-3">
      <button class="btn btn-primary" type="submit" (click)="SingUp()">Sing Up</button>
    </div>
  </form>