<ng-container *ngIf="contacts.length != 0; else elseTemplate">
  <div class="row gx-0 mb-3 justify-content-center"  *ngFor="let contact of contacts">
    <div class="col-11 list-group">
      <div (click)="GoTo(contact.id)"
        routerLinkActive="router-link-active" 
        class="list-group-item list-group-item-action bg-primary text-white border-0 rounded-0 rounded-start" 
        aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <div class="d-flex">
              <img src="https://lh3.googleusercontent.com/proxy/jB3Et1Sf89jix2UgX0DeWpIV66MJHluT2H92D0xUmULew5p6FxPMxh7nMxxkMDJHfoNahUpfa4-Fje6THQTibHJvv7UC0pORzNzb53vgRtxtO0PnB--kW_eTyeK2z3g" width="45" alt="">
              <h6 class="mb-1">&nbsp;&nbsp;{{contact.name}} {{contact.lastName}}</h6>
            </div>
            <!-- <small>
              {{contact.scheduledDate | date}}
            </small> -->
          </div>
        </div>
    </div>
    <div class="col-1 p-0">
      <button class="btn btn-danger rounded-0 rounded-end h-100 w-100" (click)="Delete(contact.id)">x</button>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <h1>No tines contactos</h1>
</ng-template>
