<ng-container *ngIf="contacts.length != 0; else elseTemplate">
  <div class="list-group mb-3"  *ngFor="let contact of contacts">
    <a [routerLink]="['/contact', contact.id]"
    routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-primary text-white" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{contact.name}} {{contact.lastName}}</h6>
        <small>Birthday {{contact.birth | date}}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small>{{contact.email}}</small>
        <small>{{contact.business}}</small>
        <small>{{contact.phones}}</small>
      </div>    
    </a>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <h1>No tines contactos</h1>
</ng-template>
